<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>explosionC1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 11}</string>
			<key>spriteSourceSize</key>
			<string>{9, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 113}, {9, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explosionC2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 29}</string>
			<key>spriteSourceSize</key>
			<string>{31, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 63}, {31, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explosionC3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 43}</string>
			<key>spriteSourceSize</key>
			<string>{39, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 68}, {39, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explosionC4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 68}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explosionC5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 59}</string>
			<key>spriteSourceSize</key>
			<string>{49, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 2}, {49, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explosionC6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 64}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {50, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{128, 128}</string>
	</dict>
</dict>
</plist>