<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Spaceship_sm_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>14.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>65</integer>
		</dict>
		<key>Spaceship_sm_2.png</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>16</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>65</integer>
		</dict>
		<key>Spaceship_sm_3.png</key>
		<dict>
			<key>x</key>
			<integer>202</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>65</integer>
		</dict>
		<key>Spaceship_sm_4.png</key>
		<dict>
			<key>x</key>
			<integer>317</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>65</integer>
		</dict>
		<key>Spaceship_sm_5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>129</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>65</integer>
		</dict>
	</dict>
</dict>
</plist>